body {
  font-family: 'Roboto Slab', sans-serif;
  line-height: 1.3;
}

header {
  width:100%;
  position:fixed;
  background-color: white;
  top:0px;
  height: 4rem;
  z-index: 1;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: hsl(11,2%,30%);
}

h3 {
  font-size: 1.5rem;
  color: hsl(11,2%,30%);
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.desktop {
  display: none;
}


#mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}


main {
  padding-top: 4rem;
}

#first-main {
  background-color: hsl(11,2%,90%);
  display: flex;
  flex-direction: column;
}

#banner {
  object-fit:cover;
  width: 100%;
  height: auto;
  display: block;
}

#learn-something {
  margin: 2rem 1rem;
}


#start-here {
  color: white;
  background-color: hsl(11,2%,62%);
  padding: .5rem 0;
  margin-top: 1.5rem;
  width:100%;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: .4rem;
}

#information {
  margin: 1rem 1rem;
}

#information h3 {
  margin-bottom: 1rem;
}

#information p {
  margin-bottom: .5rem;
}


.ocl-item img {
  object-fit:cover;
  width: 100%;
  height: auto;
}

#information a {
  text-decoration: none;
  color: DeepSkyBlue;
}

.text {
  margin-left: 1rem;
}

.ocl-item:nth-of-type(2) {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

#learning {
  padding: 2rem 0;
  background-color: GhostWhite;
  display: flex;
  flex-direction: column;
}

#learning h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.mobile-subject {
  background-color: Gainsboro;
  padding-top:1rem;
  padding-bottom: 1.5rem;
  padding-left:1rem;
  padding-right:1rem;
  margin-bottom: .5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.mobile-subject h3 {
  margin: 0;
}

#thesis {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

#thesis h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

#thesis-mobile video {
  width: 100%;
  height: auto;
  object-fit: contain;
}

footer {
  padding: 1rem 1rem;
}

.small-text {
  font-size: .8rem;
}



@media screen and (min-width:48em) {

  .mobile {
    display: none;
  }

  #mobile-header {
    display: none;
  }

  .desktop {
    display: inherit;
  }

  #desktop-header {
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: 0 1.5rem;
  }

  #desktop-header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  #desktop-header-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .desktop-header-right-text {
    margin-right: 1rem;
  }

  .desktop-header-right-text:last-of-type {
    margin-right: 0;
  }

  #colmar {
    font-size: 2rem;
    color: hsl(11,2%,30%);
  }

  #academy {
    font-size: 2rem;
    color: hsl(11,2%,60%);
  }

  #first-main {
    padding: 2rem 1.5rem;
    flex-direction: row;
  }

  #learn-something {
    margin: 0 0 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #banner-container {
    width: 60%;
  }

  #information {
    margin: 2rem 0 2rem 1.5rem;
    display: flex;
  }

  #practicing {
    display: block;
    width: 60%;
    margin-right: 1.5rem;
  }

  #practicing img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  #practicing h2 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }

  #practicing p {
    margin-bottom: 1.5rem;
  }

  #orientation-campus-lecture {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
  }

  .ocl-item {
    display: flex;
    background-color: white;
    padding-left: 1rem;
    align-items: flex-start;
  }

  .ocl-item:nth-of-type(1) {
    padding-bottom: 1rem;
  }

  .ocl-item:nth-of-type(2) {
    background-color: hsl(11,2%,90%);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }


  .ocl-item:nth-of-type(3) {
    padding-top: 1rem;
  }

  .ocl-item img {
    width: 35%;
    object-fit: contain;
  }

  #learning {
    padding: 2rem 4rem;
  }

  #learning h2 {
    margin-bottom: 2rem;
  }

  #desktop-learning {
    display: flex;
    flex-direction: column;
  }

  #desktop-learning-row {
    display: flex;
    margin-bottom: 2rem;
  }

  .desktop-subject {
    background-color: white;
    margin: 0 2rem 0 0;
    width: 33%;
  }

  .desktop-subject:last-of-type {
    margin: 0;
  }

  .desktop-subject img {
    width: 100%;
    height: auto;
  }

  .desktop-subject-text {
    margin: 1rem;
  }

  .desktop-subject-text h3 {
    margin-bottom: 1rem;
    margin-top: 0;
  }

  .desktop-subject-text p {
    margin: .5rem 0;
  }

  #thesis {
    margin: 2rem .5rem 2rem 1.5rem;
  }

  #thesis h2 {
    margin: 0 0 2rem 0;
  }

  #thesis-desktop {
    display: flex;
  }

  #thesis-video {
    width: 60%;
    margin-right: 1.5rem;
  }

  #thesis-video video {
    width: 100%;
    height: auto;
  }

  #thesis-video h3 {
    margin: 1.5rem 1rem .5rem 0;
  }

  #thesis-pic {
    width: 40%;
    display: flex;
    flex-direction: column;
  }

  .thesis-pic-item {
    display: flex;
    padding: 1rem;
  }

  .thesis-pic-item:first-of-type {
    background-color: Gainsboro;
  }

  .thesis-pic-item img {
    width: 35%;
    height: auto;
    object-fit: contain;
  }

  .thesis-pic-item-text {
    width: 65%;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  footer {
    padding: 1rem 1rem 1rem 1.5rem;
  }

  footer:after {
  content: "";
  display: table;
  clear: both;
}

  .left {
    float: left;
  }

  .right {
    float: right;
  }

}
